/*mobile firts*/

footer {
    padding: 30px;
    background-color: #2b579e;
}

/*Iconos de pie */
.icon {
    width: 30px;
    height: 30px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.pie_pagina p {
    color: blanchedalmond;

}

@media (min-width:500px) {

    /*Iconos de pie */
    .icon {
        width: 30px;
        height: 30px;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .pie_pagina {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pie_pagina p {
        color: blanchedalmond;

    }
}

/*Medida para pc*/
@media(min-width:1024px) {



    footer {
        padding: 30px;
        background-color: #2b579e;
    }

    /*Iconos de pie */
    .icon {
        width: 30px;
        height: 30px;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .pie_pagina {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pie_pagina p {
        color: blanchedalmond;

    }
}