/*Mobile first*/

header {
    background-color: #2b579e;
    border: 0px;

}

/*Organización del  nav */
/*Organización del Logo en el nav */
nav {
    font-family: 'Aboreto', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans Buhid', sans-serif;

        li {
            list-style-type: none;
        }
            a {
                text-decoration: none;
                color: aliceblue;
                padding: 10px;
            
            }
}


/*Tamaño del logo */
#logo_menu {
    height: 30px;
}

/*Medida para tablet*/

@media (min-width:500px) {
        /*Organización del  nav */
        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        /*Tamaño del logo */
        #logo_menu {
            height: 30px;
        }

}

/*Medida para pc*/
@media(min-width:1024px) {
    /*Organización del Logo en el nav */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Aboreto', cursive;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Noto Sans Buhid', sans-serif;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                    li {
                        list-style-type: none;
                    }
            }
        a {
            text-decoration: none;
            color: aliceblue;
            padding: 10px;
        }
    }
 /*Tamaño del logo */
    #logo_menu {
        height: 50px;
    }
}