@import "fonts";
@import "general";
@import "header";
@import"footer";






h1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Aboreto', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans Buhid', sans-serif;
}

#height-valores {
    height: 1200px;
    align-items: center;
}

#height-nosotros {
    height: 900px;
    align-items: center;
}


#carrusel {
    width: 100%;
    height: 100%;
    display: block;
}

/*Secci贸n capacitaciones*/

.padre {
    align-items: center;
    margin: 20px;
}

.imagenes_capacitacion {
    width: 300px;
    height: 250px;
    border: 8px solid #3a3548;
    margin-top: 15px;
}

/*Efectos sobre las imagenes de la seccion nosotros*/
.personal {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Grids*/


.capacitacion_1 {
    grid-area: capacitacion_1;
}

.capacitacion_2 {
    grid-area: capacitacion_2;
}

.capacitacion_3 {
    grid-area: capacitacion_3;
}

.capacitacion_4 {
    grid-area: capacitacion_4;
}

.capacitacion_5 {
    grid-area: capacitacion_5;
}

.capacitacion_6 {
    grid-area: capacitacion_6;
}


footer {
    grid-area: footer;
}

.envoltura {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "capacitacion_1"
        "capacitacion_2"
        "capacitacion_3"
        "capacitacion_4"
        "capacitacion_5"
        "capacitacion_6"
        "footer";
}


/*Espacio en blanco para diferenciar el footer y el header*/
.espacio_blanco {
    height: 500px;
    width: 100%;
    background-color: blanchedalmond;
}

/*Medida para tablet*/

@media (min-width:500px) {
    .envoltura {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "capacitacion_1 capacitacion_2"
            "capacitacion_3 capacitacion_4"
            "capacitacion_5 capacitacion_6"
            "footer footer";
    }

    /*Secci贸n capacitaciones*/

    .padre {
        align-items: center;
        margin: 20px;
    }

    .imagenes_capacitacion {
        width: 250px;
        height: 200px;
        margin-top: 15px;
    }

    /*Espacio en blanco para diferenciar el footer y el header*/
    .espacio_blanco {
        height: 500px;
        width: 100%;
        background-color: blanchedalmond;
    }

    #height-valores {
        height: 800px;
        align-items: center;
    }

    #height-nosotros {
        height: 600px;
        align-items: center;
    }

}

/*Medida para tablet*/

@media (min-width:700px) {
    .envoltura {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "capacitacion_1 capacitacion_2"
            "capacitacion_3 capacitacion_4"
            "capacitacion_5 capacitacion_6"
            "footer footer";
    }

    /*Secci贸n capacitaciones*/

    .padre {
        align-items: center;
        margin: 20px;
    }

    .imagenes_capacitacion {
        width: 300px;
        height: 250px;
        margin-top: 15px;
    }

    /*Espacio en blanco para diferenciar el footer y el header*/
    .espacio_blanco {
        height: 500px;
        width: 100%;
        background-color: blanchedalmond;
    }

    #height-valores {
        height: 800px;
        align-items: center;
    }

    #height-nosotros {
        height: 800px;
        align-items: center;
    }

}


/*Medida para pc*/
@media(min-width:1024px) {


    h1 {
        margin-top: 20px;
        text-align: center;
        font-family: 'Aboreto', cursive;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Noto Sans Buhid', sans-serif;
    }



    #carrusel {
        width: 100%;
        height: 100%;
        display: block;
    }

    /*Secci贸n capacitaciones*/

    .capacitaciones {
        align-items: center;
        margin: 30px;
    }

    .imagenes_capacitacion {
        width: 300px;
        height: 250px;
        margin-top: 15px;
    }

    .envoltura {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:

            "capacitacion_1 capacitacion_2 capacitacion_3"
            "capacitacion_4 capacitacion_5 capacitacion_6"
            "footer footer footer";
    }

    /*Espacio en blanco para diferenciar el footer y el header*/
    .espacio_blanco {
        height: 500px;
        width: 100%;
        background-color: blanchedalmond;
    }

    #height-valores {
        height: 600px;
        align-items: center;
    }

    #height-nosotros {
        height: 500px;
        align-items: center;
    }
}